.buttonStyle {
  background-color: var(--very-light-green);
  outline: none;
  border: none;
  padding: 12px 10px;
  color: var(--very-dark-green);
  cursor: pointer;
  font-weight: 400;
  border-radius: 5px;
  transition: all ease-in 0.2s;
  letter-spacing: 1.1px;
  font-family: var(--ff-mono);
  font-weight: bolder;
}

.buttonStyle:hover {
  border: 1px solid var(--very-light-green);
  background-color: inherit;
  color: var(--very-light-green);
}

.pt-15 {
  padding: 15px;
}
