.Menu__container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--darker-green);
  color: var(--very-light-green);
  box-shadow: 2px 2px 4px var(--dark-green);
  position: fixed;
  font-family: var(--ff-mono);
  top: 0px;
  right: 0px;
  z-index: 2;
}

.fa-icon {
  cursor: pointer;
  font-size: 25px;
}
.Menu__link__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
  align-items: center;
}
.Menu__icon-container {
  display: flex;
  justify-content: flex-end;
  padding: 25px 0;
  padding-right: 20px;
}
.Menu__link__container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  cursor: pointer;
}

.Menu__link__container li a {
  text-decoration: none;
  color: var(--very-light-green);
}
.Menu__link__container li a:hover {
  color: var(--slate);
}

@media screen and (min-width: 768px) {
  .Menu__container {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .Menu__icon-container {
    padding-right: 40px;
  }
}
