ul {
  display: none;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 40px;
  cursor: pointer;
  color: #3df92c;
  background-color: var(--very-dark-green);
}

li:hover {
  color: var(--slate);
}
