.Project__item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 30px; */
  border-radius: 20px;
  /* padding-bottom: -100px; */
  /* box-shadow: 1px 1px 2px var(--dark-green), -1px -1px 2px var(--dark-green); */
  /* background-color: red; */
}
.Project__item {
  gap: 30px;
}

.Project__image-wrapper {
  width: 100%;
  /* position: relative; */
}

.Project__image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 0.5;
  transition: opacity 1.5s ease-in-out;
}
.Project__image:hover {
  opacity: 0.8;
}

.Project__about {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--slate);
  font-family: var(--ff-mono);
  gap: 20px;
  background-color: var(--darker-green);
  padding-left: 4px;
  position: relative;
  bottom: 0px;
  top: -60px;
}

.Project__link,
.Project__tools {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.Project__link span {
  font-size: var(--fs-link);
}

.Project__tools span {
  font-size: var(--fs-tools);
  background-color: var(--dark-green);
  border-radius: 5px;
  padding: 5px;
}
.Project__link span:hover {
  color: var(--very-light-green);
}
.Project__link a {
  text-decoration: none;
  color: var(--slate);
}
/* .Project__summary {
  display: flex;
} */

.Project__summary span {
  font-family: var(--ff-sans);
  max-width: 500px;
  color: var(--slate);
  font-weight: bolder;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--fs-para);
  letter-spacing: 0.2px;
}

.Project__summary-details {
  font-weight: bold;
  color: var(--very-light-green);
  cursor: pointer;
}
.Project__summary-details:hover {
  text-decoration: underline;
}

@media screen and (width >= 768px) {
  .Project__item {
    display: flex;
  }

  .Project__about {
    padding: 20px;
    top: 0px;
  }

  .Project__item-container {
    margin-bottom: 30px;
  }
}
