.SubHeading__container {
  width: 100%;
  padding-left: 4px;
  padding-top: 4px;
}
.sub-heading {
  font-family: var(--ff-mono);
  margin-bottom: 10px;
  font-size: var(--fs-heading2);
  opacity: 0.8;
}

.sub-heading::before {
  content: "0" counter(project-counter);
  color: var(--very-light-green);
  font-size: 20px;
  margin-right: 20px;
  opacity: 0.5;
  counter-increment: project-counter;
}
