.App__container {
  width: 100%;
  position: relative;
  padding: 0 20px;
}

.hide-overflow {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .App__container {
    padding: 0 65px;
  }
}

@media screen and (min-width: 480px) {
  .App__container {
    padding: 0 40px;
  }
}
