@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';

:root {
   /* --font-sans: 'Inter', system-ui, sans-serif; */
   --font-sans: 'Montserrat Alternates', system-ui, sans-serif;
   --font-serif: 'Noto Serif', serif;
   --font-mono: 'Source Code Pro', monospace;
}

/* Apply fonts */
body {
   font-family: var(--font-sans);
}

/* h1,
h2,
h3 {
   font-family: var(--font-serif);
} */

code,
pre {
   font-family: var(--font-mono);
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-muted-foreground: var(--muted-foreground);
   --color-primary-dark: var(--primary-dark);
}

/* ========================
   Light Theme
======================== */

:root {
   --primary: #135bec;
   --primary-foreground: #ffffff;
   --background: #f6f6f8;
   --foreground: #1a2230;
   --secondary: oklch(0.97 0 0);
   --secondary-foreground: oklch(0.205 0 0);
   --muted: oklch(0.269 0 0);
   --muted-foreground: oklch(0.708 0 0);
   --primary-dark: #063798;
}

/* ========================
   Dark Theme
======================== */
.dark {
   --primary: #135bec;
   --primary-foregound: #ffffff;
   --background: #101622;
   --foreground: #ffffff;
   --secondary: oklch(0.269 0 0);
   --secondary-foreground: oklch(0.985 0 0);
   --muted: oklch(0.97 0 0);
   --muted-foreground: oklch(0.556 0 0);
   --primary-dark: #135bec;
}
