.Nav__container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 25px 0;
  display: flex;
  align-items: center;
  color: #3df92c;
  background-color: var(--very-dark-green);
  z-index: 1;
  font-family: var(--ff-mono);
}
.Nav__inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Nav__link_container ul {
  display: none;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 40px;
  cursor: pointer;
}
.Nav__link_container li a {
  text-decoration: none;
  color: var(--very-light-green);
}
.Nav__link_container li a:hover {
  color: var(--slate);
}

.logo {
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: var(--very-light-green);
}

.fa-icon {
  cursor: pointer;
  font-size: 25px;
}

/* .Nav__action_container {
  display: flex;
  gap: 10px;
} */
.Nav__action_cv {
  display: none;
}

@media screen and (min-width: 768px) {
  .Nav__link_container ul {
    display: flex;
  }
  .fa-icon {
    display: none;
  }
  .Nav__action_cv {
    display: inline;
  }
  /* .Nav__header {
    padding: 0 40px;
  } */
}

/* @media screen and (min-width: 768px) {
  .Nav__link__container ul {
    display: flex;
  }
} */
